{% extends 'base.html' %}
{% block title %}Welcome! Please sign in!{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="messages tc center pa4 dt">
            <div class="dtc v-mid f1 fw3 measure center">
            {{ message|safe }}
            </div>
        </div>
    {% endfor %}
{% endif %}

<div class="measure-wide">
    <h1 class="fw3">Welcome to the {{ event.name }}! Let&rsquo;s get you signed in!</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
    <input style = "background-color: #9ed51c; border-radius: 0; box-shadow: 11px 10px 153px 2px rgba(0,0,0,0.75);"type="submit" value="Sign in" class="b--none br2 pa3 ph4 white dib tc fw4 mv4" />
</div>


{% endblock %}
